{% extends "base.html" %}

{% block content %}

 <table>
      <tr valign="top">
        <td><img src="{{user.avatar(128)}}"></td>
        </tr>
 </table>   
    
 <p><h1>User: {{user.username}} </h1>
 <br>
 {% if user.about_me %} <p>About Me: {{user.about_me}}</p> {% endif %}
 <br>
 {% if user.last_seen %} <p>Last Seen: {{user.last_seen}}</p> {% endif %}
 <br>
<p>{{current_user.followers.count()}} follows {{current_user.followed.count()}} following</p>
  
{% if user==current_user %} 
<p><a href="{{url_for('edit_profile')}}">Edit Profile</a></p>
{% elif not current_user.follow(user) %}                       
<p><a href="{{url_for('follow',username=user.username)}}">Follow</a></p>
{% else %}
<p><a href="{{url_for('unfollow',username=user.username)}}">Unfollow</a></p>
{% endif %}
 {% for post in posts %}
   {% include '_post.html' %}
 {% endfor %}   
 {% if prev_url %}
      <a href="{{prev_url}}">Older Posts</a>
    {% endif %}
     
    {% if next_url %}
      <a href="{{next_url}}">Newer Posts</a>
    {% endif %}   
{% endblock %}